/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --gray: #f2f2f2;
  --dark: #090909;
}

/* general */

:root {
  font-size: 62.5%; /*10px*/
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

a {
  font-size: 1.6rem;
  color: var(--dark);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Class */

.container {
  display: block;
  max-width: 1200px;
  margin: 0rem 4rem 4rem;

  /* margin: auto; */
}

/* header */
.logo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

header {
  margin: 0rem 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
}

header nav a {
  padding: 50px 4rem;
  color: var(--black);
}

header nav a:last-child {
  color: var(--blue);
  font-weight: 700;
}

/* end-header */

.header nav a,
.active {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}

/* search */
.search {
  overflow: auto;
  /* padding: 2rem 0; */
}

.search-content {
  display: flex;
  margin: 2rem 0 3rem 0;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
}

.search-input {
  padding-left: 20px;
  height: 50px;
  width: 220px;
  border: none;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
}

.search-input::placeholder {
  color: var(--dark);
  font-weight: 700;
}

.search-button {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: var(--blue);
  color: white;
  font-weight: 700;
  padding: 1.7rem;
  cursor: pointer;
}

/* filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
}

.filters-list {
  display: flex;
}
.filter-elem {
  margin-left: 25px;
  font-weight: 700;
  border: solid 2px #e2e2e2;
  padding: 0 20px 0 0;
  border-radius: 50px;
}

.icon-filter {
  background-color: var(--blue-light);
  color: var(--blue);
  padding: 18px;
  border-radius: 50px;
  margin-right: 15px;
}

.info {
  display: flex;
}
.info .fas {
  display: flex;
  font-size: 1rem;
  max-width: 20px;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.info span {
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
}
