:root {
  background: orange;
}
/* style */
.section-bloc {
  margin: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'logo navbar-sign-up'
    'navbar-accomodation navbar-activities';
}
.navbar img {
  grid-area: logo;
}
.navbar .accomodation {
  grid-area: navbar-accomodation;
  flex-direction: column-reverse;
}
.navbar .activities {
  grid-area: navbar-activities;
  flex-direction: column-reverse;
}
.navbar .activities .underline-effect {
  background-color: var(--gray);
}
.navbar .sign-up {
  grid-area: navbar-sign-up;
  display: flex;
  align-items: flex-end;
}

.navbar a {
  padding: 2rem;
}

/* main */
main {
  display: block;
  margin: 2rem;
  margin: 0;
}

/* search */
.search {
  overflow: auto;
  padding: 2rem 0;
  margin: 2rem;
}
.search-input {
  width: 270px;
}

.search .search-button {
  display: none;
}

.search-button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: var(--blue);
  border: none;
  border-radius: 14px;
}

.search-button-mobile .fa-search {
  color: white;
  font-size: 2rem;
}

/* filters */
.filters {
  margin: 1rem;
}

.filter-elem {
  transition: none;
  margin: 0;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

/* info */
.info {
  margin-top: 2rem;
}

/* Hébergements */
.accommodation-bloc {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.accommodation-available {
  margin-right: 0;
  order: 2;
  background: white;
}

.bloc {
  margin: 1rem 0;
  border-radius: 0;
}

.accommodation-list {
  flex-flow: column;
}

.accommodation-elem {
  width: 100%;
}

/* footer */
.footer-blocs {
  flex-direction: column;
}
