.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'logo navbar-sign-up'
    'navbar-accomodation navbar-activities';
}
.navbar img {
  grid-area: logo;
}
.navbar .accomodation {
  grid-area: navbar-accomodation;
  flex-direction: column-reverse;
}
.navbar .activities {
  grid-area: navbar-activities;
  flex-direction: column-reverse;
}
.navbar .activities .underline-effect {
  background-color: var(--gray);
}
.navbar .sign-up {
  grid-area: navbar-sign-up;
  display: flex;
  align-items: flex-end;
}

.navbar a {
  padding: 2rem;
}

.search {
  overflow: auto;
  padding: 2rem 0;
}

.search .search-button {
  display: none;
}

.search-button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: var(--blue);
  border: none;
  border-radius: 14px;
}

.search-button-mobile .fa-search {
  color: white;
  font-size: 2rem;
}
